# The package order is critical since pip installs them sequentially.
# Modifying the order may affect the integration process and lead to potential issues.

# Packet TKSBrokerAPI requirements:
requests >= 2.32.0  # Apache-2.0 license
pandas >= 1.5.2  # MIT License
numpy >= 1.23.5  # BSD-3-Clause license
scipy >= 1.13.1  # BSD-3-Clause License
openpyxl >= 3.0.10  # MIT License
Mako >= 1.2.4  # MIT License
python-dateutil >= 2.8.1  # Apache-2.0 license
PriceGenerator >= 1.4.93  # Apache-2.0 license
FuzzyRoutines >= 1.0.3  # MIT License