# The package order is critical since pip installs them sequentially.
# Modifying the order may affect the integration process and lead to potential issues.

# Base requirements:
numpy >= 1.23.5  # BSD-3-Clause License
scipy >= 1.13.1  # BSD-3-Clause License
numba >= 0.59.1  # BSD-2-Clause License
llvmlite >= 0.42.0  # BSD-2-Clause License
pandas >= 2.2.3  # MIT License

# Service utilities:
requests >= 2.32.0  # Apache-2.0 License
openpyxl >= 3.0.10  # MIT License
Mako >= 1.2.4  # MIT License
python-dateutil >= 2.8.1  # Apache-2.0 License
pycron >= 3.0.0  # MIT License

# Project packages:
PriceGenerator >= 1.4.93  # Apache-2.0 License
FuzzyRoutines >= 1.0.3  # MIT License